<div class="auth-main">
  <div class="auth-block">
    <h1>Sign in to LoanMe</h1>
    <a routerLink="/register" class="auth-link">New to LoanMe? Sign up!</a>

    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
      <div class="form-group row" [ngClass]="{'has-error': (!username.valid && username.touched), 'has-success': (username.valid && username.touched)}">
        <label for="inputEmail3" class="col-sm-2 control-label">Username</label>

        <div class="col-sm-10">
          <input [formControl]="username" type="text" class="form-control" id="inputEmail3" placeholder="username">
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>

        <div class="col-sm-10">
          <input [formControl]="password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
          <button [disabled]="!form.valid" type="submit" class="btn btn-default btn-auth">Sign in</button>
          <a routerLink="/login" class="forgot-pass">Forgot password?</a>
        </div>
      </div>
    </form>    
  </div>
</div>
